#root {
  margin: 0 auto;
}

/* src/App.css */
.app {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: red;
}

.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
